Flask
requests
pandas
databricks-sql-connector
python-dotenv
dateutils
tabulate # Added for pandas.to_markdown
markdown # Added for converting Markdown to HTML
pdfkit # Added for PDF generation (more macOS friendly)